@charset "UTF-8";

* {
	margin: 0px;
	box-sizing: border-box;
	font-family: monospace;
}

body{
	display: flex;
	align-content: center;
	justify-content: center;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
	width: 100%;
	background: rgb(193,34,195);
	background: linear-gradient(0deg, rgba(193,34,195,1) 0%, rgba(45,77,253,1) 100%);
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #D3D3D390;
	border-radius: 10px;
	padding: 35px 50px;
	gap: 10px;
	width: 25%;
}


form input{
	outline: none;
	border: 1px solid LightSteelBlue;
	border-radius: 4px;
	padding: 10px 15px;
	font-size: 15px;
	width: 100%;
}

form h1{
	padding: 15px;
	font-size: 24px;
	color: white;
}


#cadastrar{
	cursor: pointer;
	background-color: LimeGreen;
	border-radius: 4px;
	outline: none;
	border: none;
	font-size: 22px;
	color: white;
	font-weight: bold;
	margin-top: 20px;	
	width: 100%;
}

 #cadastrar:hover{
	
	background-color: ForestGreen;
	transition: 0.5s;
	color: WhiteSmoke;
}